# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/.idea

# dependencies
assets/node_modules

puclic/js/*
puclic/css/*
puclic/fonts

# misc
.DS_Store

assets/yarn.lock
assets/yarn-error.log
